
/* Every Antique has its class and History */
.hero__main{
    position: relative;
width: 723px;
height: 148px;
padding-left: 70px;
padding-top: 61px;}
.hero__text {
    color: rgb(0, 0, 0);

    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;

    
font-size: 64px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
}

.hero__text2 {
   
    font-family:'ITC Eras Light Regular';font-weight:normal;font-size:32px;
  

letter-spacing: 0%;
text-align: left;
}