.navigate_links {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Exo", sans-serif;
    width: 774px;
    color: rgb(77, 42, 42);
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
    
    
}

.navigate_links a {
    text-decoration: none;
    color: rgb(77, 42, 42);
font-family: Exo;
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
