.navigate_links {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // font-family: "Exo", sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    
    color: white;
// font-size: 24px;
// font-weight: 600;
// // line-height: 32px;
// letter-spacing: 0%;
text-align: left;
    
    
}

.navigate_links a {
    text-decoration: none;
    color: #969696;
// font-family: Exo;
// font-size: 24px;
// font-weight: 600;
// line-height: 32px;
// font-family: Helvetica, Arial, sans-serif;
// font-size: 12px;
font-family: 'Roboto';
font-size: var(--system-16-font-size);
font-weight: 600;
letter-spacing: 0%;
text-align: left;

margin: 4px;
padding: 12px;

}


.icon__img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align:middle;
}

.link {
    gap: 5px;
}
