.header {
  
    display: flex;
    flex-direction: row;
    padding-left: 70px;
}

.logo__text {

    font-family: "El Messiri", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 75px;
   
}