.sidebar {
 
  display: flex;
  flex-direction: column;
  padding-left: 74px;
  padding-top: 24px;
  width: 200px;
  align-items: flex-start;
 
}

.logo__text {

  font-family: "El Messiri", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 75px;
 
}

.logo__img{
width: 100px;
height: 100px;
}

.anbunet {
font-family: "Marck Script", cursive;
font-weight: 500;
font-style: normal;
font-size: 32px;
}